torch
torchvision
torchgeometry
torch-tools
lpips
ftfy
regex
git+https://github.com/openai/CLIP.git
colour-science
tensorboardX
kornia==0.6.5
librosa
timm
transformers
diffusers
accelerate
transformers
scikit-learn
